@import 'custom-bootstrap';

@each $color, $value in $theme-colors {
  .border-left-thick-#{$color} {
    border-left-width: 0.2rem !important;
    border-left-color: $value;
  }
}

@mixin bg-darken($parent, $color) {
  #{$parent} {
    background-color: scale-color($color, $lightness: -30%) !important;
  }
}

@each $color, $value in $theme-colors {
  @include bg-darken('.bg-#{$color}-darker', $value);
}

em {
  font-weight: 600;
}

.height-full {
  height: 100vh;
}

.border-mid-width {
  border: 0.2rem solid;
}

.small-caps {
  font-variant: small-caps;
}

.card-margins {
  // border-bottom: 0.15rem solid map-get($theme-colors, 'light');
  padding: 0.5rem 0.75rem;
}

.max-w-45 {
  max-width: 45%;
}
